[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
gql = {extras = ["all"], version = "*"}
python-dotenv = "*"
requests-oauthlib = "*"

[dev-packages]

[requires]
python_version = "3.12"
